<div id="mainContainer">
    <div class="card-container">
        <div class="container">
            <div class="form-wrapper">
                <div class="logo mb-4">
                    <img src="../../../../assets/images/bg-tom-james.svg" class="logo-login" alt="Tom &amp; James"
                        style="width: 55%" />
                </div>

                <form [formGroup]="myForm" (ngSubmit)="login()" class="login-form row g-3">
                    <div class="input-group flex-nowrap mb-3">
                        <label for="validationCustomUsername" class="form-label"></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person"></i></span>
                            <input class="form-control" type="email" formControlName="email" />
                            <div class="invalid-feedback error-message">
                                Por favor ingresa tu usuario.
                            </div>
                        </div>
                    </div>

                    <div class="input-group flex-nowrap mb-3">
                        <label for="validationCustomPassword" class="form-label"></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text show-password" (click)="togglePassword()">
                                <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                            </span>
                            <input class="form-control" [type]="showPassword ? 'text' : 'password'"
                                formControlName="password" placeholder="Ingresa tu contraseña" />
                            <div class="invalid-feedback error-message">
                                Por favor ingresa tu contraseña.
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button [disabled]="myForm.invalid" type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-key"></i> Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>